@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* web font */
body {

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    background: rgb(0, 0, 0);
    
}

/* //web font  */

/* common style */

.container{
    width:1170px ;
    margin:  0 auto;
}
.row {
    display: flex;
}

.btn-box {

    color: rgb(255, 255, 255);

    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 8px 20px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;

}

.info h2 {
    color: rgb(255, 255, 255);

    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
    margin: 12px;

}

.info p {
    color: rgba(255, 255, 255, 0.5);

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}

/* //common style */

/* nav section start */
#navigation {
    background-color: rgb(162, 162, 24);
}
#navigation .row{
justify-content: space-between;
align-items: center;

}

#navigation  h3{
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;

}
#navigation .menu ul{
    list-style-type: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px;
}

#navigation .menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 28px 23px;
    transition: .7s;
} 
#navigation .menu ul li:hover {
    border-radius: 46px;

    background: rgb(230, 83, 60);
}
#navigation .menu .humberger{
display: none;
}


/* banner section start */
#banner {
  
    height: 555px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    margin-top: 61px;

}
#banner .row{
    justify-content: space-between;
    align-items: center;
}

#banner .banner_content {
    width: 520px;
}

#banner .banner_content h2 {
    color: rgb(255, 255, 255);

    font-size: 60px;
    font-weight: 900;
    line-height: 120%;
    margin: 46px 0;

}

#banner .banner_content p {
    color: rgba(255, 255, 255, 0.5);

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 28px;


}

#banner .banner_content .btn-box {
    margin-right: 10px;
}

.banner_img {
    position: relative;
}

.banner_img .banner_box {
    position: absolute;
    z-index: 999;
    left: 55%;
    top: 15%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 15px 30px;

    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

.banner_img .banner_box h6 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
}

.banner_img .banner_box p {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
}

.banner_img .banner_box_two {
    position: absolute;
    z-index: 999;
    bottom: 10%;
    left: -30%;

    box-sizing: border-box;
    padding: 25px 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

.banner_img .banner_box_two .round {
    position: absolute;
    z-index: 999;

    bottom: 35%;
    left: 2.5%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(230, 83, 60);

}

.banner_img .banner_box_two h6 {
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;

}

.banner_img .banner_box_two p {
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

/* //banner section end */








































@media (max-width: 576px) { 
    #navigation .row{

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
        
        }
        #navigation .menu ul {
            display: none;
        }
        #navigation .menu .humberger{
            
            display: block;
            color: white;
           font-size: 25px;
           
            
            }
            /* banner */
            #banner .row{
               display: grid;
               grid-template-columns: repeat(1, 1fr);
            }
}