@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* web font */
body {

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    background: rgb(0, 0, 0);
    
}

/* //web font  */

/* common style */

.section_width{
max-width: 1440px;

margin: 0 auto;
}
.row {
    display: flex;
}

.btn-box {

    color: rgb(255, 255, 255);

    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 8px 20px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;

}

.info h2 {
    color: rgb(255, 255, 255);

    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
    margin: 12px;

}

.info p {
    color: rgba(255, 255, 255, 0.5);

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}

/* //common style */


/* navigation var start */
.header {
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);


}

.navigation {
    width: 1060px;
    margin: 0px auto;
    padding-top: 57px;

    justify-content: space-between;
    align-items: center;
}

.navigation h3 {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;

}

.navigation ul {
    list-style-type: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px;
}

.navigation ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 28px 23px;
    transition: .7s;

}

.navigation ul li:hover {
    border-radius: 46px;

    background: rgb(230, 83, 60);
}

.humberger{
    color: rgb(255, 255, 255);
    font-size: 25px;
    display: none;
}
/* //navigation end */

/* banner section start */
#banner {
    width: 1060px;
    margin: 0px auto;
    height: 555px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    margin-top: 61px;

}

#banner .banner_content {
    width: 520px;
}

#banner .banner_content h2 {
    color: rgb(255, 255, 255);

    font-size: 60px;
    font-weight: 900;
    line-height: 120%;
    margin: 46px 0;

}

#banner .banner_content p {
    color: rgba(255, 255, 255, 0.5);

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 28px;


}

#banner .banner_content .btn-box {
    margin-right: 10px;
}

.banner_img {
    position: relative;
}

.banner_img .banner_box {
    position: absolute;
    z-index: 999;
    left: 55%;
    top: 15%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 15px 30px;

    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

.banner_img .banner_box h6 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
}

.banner_img .banner_box p {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
}

.banner_img .banner_box_two {
    position: absolute;
    z-index: 999;
    bottom: 10%;
    left: -30%;

    box-sizing: border-box;
    padding: 25px 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

.banner_img .banner_box_two .round {
    position: absolute;
    z-index: 999;

    bottom: 35%;
    left: 2.5%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(230, 83, 60);

}

.banner_img .banner_box_two h6 {
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;

}

.banner_img .banner_box_two p {
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}







/* //banner section end */

.main {
    width: 1040px;
    margin: 0 auto;
}


/* unique start */

#unique{
    background-color: brown;
    margin-top: 120px;
}
#unique .unique_img{
    width: 50%;
}
#unique .unique_img img{
    width: 100%;
} 
#unique .unique_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 50%;
}
#unique .unique_content_another {
    border: 2px solid yellowgreen;
    -webkit-box-shadow: -3px 9px 10px -9px rgba(26, 26, 29, 1);
-moz-box-shadow: -3px 9px 10px -9px rgba(26, 26, 29, 1);
box-shadow: -3px 9px 10px -9px rgba(26, 26, 29, 1);
}




/* //unique end */



/* habbits start */
#habbits {
    margin-top: 120px;
}

#habbits .habbits_style {

    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: center;

}

#habbits .habbits_style .habbit {
    margin-top: 58px;
}

#habbits .habbits_style .habbit .img {

    width: 272px;


}

#habbits .habbits_style .habbit img {
    border: 3px solid rgba(70, 69, 69, 0.5);

    width: 100%;
    border-radius: 50%;



}

#habbits .habbits_style .habbit h2 {
    color: rgb(255, 255, 255);

    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    margin-top: 30px;



}

#habbits .habbits_style .habbit p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-top: 12px;
}

/* //habbits end */

/* run start */
.run {
    border-radius: 18px;

    background: rgb(34, 34, 34);
    padding: 20px 28px;
    margin-top: 120px;
}

.run {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.run .run_img {
    width: 333px;
}

.run .run_img img {
    border-radius: 18px;
    width: 100%;
}

.run .run_content {
    width: 333px;
}

.run .run_content h3 {
    color: rgb(255, 255, 255);

    font-size: 40px;
    font-weight: 900;
    line-height: 120%;


}

.run .run_content p {
    color: rgba(255, 255, 255, 0.5);

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 7px;

}

.run .btn-box {
    padding: 8px 20px;
    margin-top: 17px;
}

/* run end */

/* bmi calc start */

#bmi_calc {
    padding: 0 95px;
    background: rgba(255, 255, 255, 0.1);
}

#bmi_calc .row {
    justify-content: space-between;
}

#bmi_calc .row .bmi_table_chart {
width: 577px;
}
#bmi_calc .row .bmi_table_chart h2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
}
#bmi_calc .row .bmi_table_chart table,tr,td,th{
    width: 310px;
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    color: aliceblue;
    padding: 13px;
    margin-top: 30px;
}



#bmi_calc .row .bmi_calculate {
    width: 577px;
}

#bmi_calc .row .bmi_calculate .info h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

#bmi_calc .row .bmi_calculate .info p {
    color: rgba(255, 255, 255, 0.5);
   
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-left: 10px;
}


#bmi_calc .row .bmi_calculate .form {
    width: 591px;
    margin: 25px 0;
}

#bmi_calc .row .bmi_calculate .form .input {

    width: 282px;
    height: 48px; 
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    border: none;
    padding: 6px 10px;
    margin: 10px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;

}

.select {
    width: 569px;
    height: 48px;
    border-radius: 8px;
    padding: 6px 10px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}
#bmi_calc .row .bmi_calculate  .btn-box{
    margin-bottom: 25px ;
}

/* //bmi calc end */
.team_overlay {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;


}

.team_overlay .meet-img {
    position: relative;

}

.team_overlay .meet-img .img {
    width: 326.67px;
    height: 272px;

}

.team_overlay .meet-img .img img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
}

.team_overlay .meet-img .overlay {
    position: absolute;

    left: 0;
    bottom: 0;
    padding: 15px 10px;
}

.team_overlay .meet-img .overlay h3 {
    color: rgba(255, 255, 255, 1);

    font-size: 20px;
    font-weight: 800;
    line-height: 120%
}

.team_overlay .meet-img .overlay p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 120%
}

/* footer section start */

#footer{
 margin-top: 88px;
 background: rgba(255, 255, 255, 0.1);
    
}

#footer .row{
    justify-content: space-around;
    align-items: center;
   padding: 45px 36px;
    
}
#footer .fitness{
    width: 443px;
   
}
#footer .fitness h3{
    color: rgb(230, 83, 60);
    font-size: 40px;
    font-weight: 800;
    line-height: 120%;
}
#footer .fitness p{
    color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
margin-top: 20px;
}
#footer .service{
    width: 185px;
}
#footer .service h4{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 22px;
}
#footer .service ul{
    list-style-type: none;
}

#footer .service ul li{
margin-top: 15px;
}
#footer .service ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 23px;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;
text-align: left;

}
#footer .platform{
    width: 185px;
}
#footer .platform h4{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 22px;
}
#footer .platform ul{
    list-style-type: none;
}

#footer .platform ul li{
margin-top: 15px;
}
#footer .platform ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 23px;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;
text-align: left;


}
hr{
    width: 1075px;
    margin: 0 auto;
}
.fend{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);

font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
padding: 20px;
}



/* footer section end */







@media (min-width: 0px) and (max-width: 576px) { 
/* navagation start */
.header {
    width: 1200px;
    padding: 20px;
    margin: 0 auto;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);


}
    .navigation {
        width: 1060px;
        margin: 0px auto;
        padding-top: 57px;
    
        justify-content: space-between;
        align-items: center;
    }
    
    .navigation h3 {
        color: rgb(230, 83, 60);
        font-size: 125px;
        font-weight: 800;
        line-height: 120%;
    
    }
    
    .navigation ul li{
        display: none;
    }
    
    .humberger{
        color: rgb(255, 255, 255);
        font-size: 64px;
        display: block;
    }
    /* //navigation end */
    
    /* banner section start */
#banner {
    width: 1060px;
    margin: 0px auto;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    margin-top: 61px;
    

}

#banner .banner_content {
    width: 100%;
}

#banner .banner_content h2 {
    color: rgb(255, 255, 255);

    font-size: 125px;
    font-weight: 900;
    line-height: 120%;
    margin: 46px 0;

}

#banner .banner_content p {
    width: 80%;
    color: rgba(255, 255, 255, 0.5);

    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0.3px;
    margin-bottom: 28px;


}

#banner .banner_content .btn-box {
    margin-right: 10px;
    color: rgb(255, 255, 255);

    font-size: 45px;
    font-weight: 600;
    line-height: 22px;
    padding: 65px 90px;
    border-radius: 44px;
    background: rgb(230, 83, 60);
    border: none;
}

.banner_img {
    position: relative;
    margin-left: 100px;
}
.banner_img img{
    width: 100%;
}

.banner_img .banner_box {
    position: absolute;
    z-index: 999;
    left:52%;
    top:15%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 30px 40px;

    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

.banner_img .banner_box h6 {
    
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 65px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
}

.banner_img .banner_box p {
    margin: 10px 0;
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
}

.banner_img .banner_box_two {
    position: absolute;
    z-index: 999;
   left: -5%;
   bottom: 35%;
   

    box-sizing: border-box;
    padding: 40px 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

.banner_img .banner_box_two .round {
    position: absolute;
    z-index: 999;

    bottom: 35%;
    left: 0%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(230, 83, 60);

}

.banner_img .banner_box_two h6 {
    color: rgb(250, 250, 249);
   
    font-size: 65px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 0.3px;
    text-align: left;

}

.banner_img .banner_box_two p {
    margin-top: 10px;
    color: rgba(239, 237, 232, 0.65);
  
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    
    letter-spacing: 0.5px;
    text-align: left;
}

/* //banner section end */

    /* habbits start */
    #habbits {
        width: 1200px;
        
        
        margin-top: 0px;
    }

    #habbits .info h2 {

        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 102px;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;

    }

    #habbits .info p {

        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 48px;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: 0.3px;
        text-align: center;
        margin-bottom: 15px;
    }

    #habbits .habbits_style {

        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;

    }

    #habbits .habbits_style .habbit {
        margin-top: 58px;
    }


    #habbits .habbits_style .habbit img {
        border: 3px solid rgba(70, 69, 69, 0.5);

        width: 100%;
        border-radius: 50%;



    }

    #habbits .habbits_style .habbit h2 {
        color: rgb(255, 255, 255);

        font-size: 32px;
        font-weight: 600;
        line-height: 120%;
        text-align: center;
        margin-top: 30px;



    }

    #habbits .habbits_style .habbit p {
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 28px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.3px;
        text-align: center;
        margin-top: 12px;
    }

    /* //habbits end */
    /* run start */
    #run{
        width: 1200px;
       padding: 50px;
    }
    .run {
       
        border-radius: 18px;
        background: rgb(34, 34, 34);
        
        margin-top: 120px;
        
    }

    .run {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .run .run_img {
        margin: 40px 0;
        width: 90%;
        
        

    }

    .run .run_img img {
        border-radius: 18px;
        width: 100%;
    }

    .run .run_content {
        width: 90%;
    }

    .run .run_content h3 {
        color: rgb(255, 255, 255);

        font-size: 112px;
        font-weight: 900;
        line-height: 120%;
        margin: 40px 0;

    }

    .run .run_content p {
        
        color: rgba(255, 255, 255, 0.5);

        font-size: 48px;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0.3px;
       margin: 40px 0;

    }

    .run .btn-box {
        
        width: 100%;
        padding: 32px 40px;
        margin-top: 17px;
        font-size: 48px;
    }

    /* run end */

    /* bmi calc start */

#bmi_calc {
    width: 1200px;
        
   
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
}

#bmi_calc .row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   
}

#bmi_calc .row .bmi_table_chart {
width: 100%;
}
#bmi_calc .row .bmi_table_chart h2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 84px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
}

#bmi_calc .row .bmi_table_chart table,tr,td,th{
    width: 100%;
    font-size: 70px;
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    color: aliceblue;
    padding: 20px;
   
}


#bmi_calc .row .bmi_calculate {
    width: 100%;
}

#bmi_calc .row .bmi_calculate .info h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 84px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

#bmi_calc .row .bmi_calculate .info p {
    color: rgba(255, 255, 255, 0.5);
   
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-left: 10px;
}


#bmi_calc .row .bmi_calculate .form {
    width: 100%;
    margin: 25px 0;
}

#bmi_calc .row .bmi_calculate .form .input {

    width: 500px;
    height: 60px; 
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    border: none;
    padding: 6px 10px;
    margin: 10px 0px;
    font-size: 32px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;

}

.select {
    width: 96%;
    height: 60px;
    border-radius: 15px;
    padding: 6px 10px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 32px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}
#bmi_calc .row .bmi_calculate  .btn-box {
    margin-bottom: 25px ;
     color: rgb(255, 255, 255);

    font-size: 48px;
    font-weight: 600;
    line-height: 22px;
    padding: 28px 45px;
    border-radius: 44px;
    background: rgb(230, 83, 60);
    border: none;
    
}

/* //bmi calc end */
    /* meet start */
    .team_meet{
        width: 1200px;
        
        padding: 50px
    }
    .team_meet .info h2 {

        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 102px;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;

    }

    .team_meet .info p {

        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 48px;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: 0.3px;
        text-align: center;
        margin-bottom: 15px;
    }

    .team_overlay {

        display: flex;
        flex-direction: column;
        gap: 50px;
        border-radius: 30px;
        background: rgba(255, 255, 255, 0.1);
        padding: 50px;
        


    }

    .team_overlay .meet-img {
        position: relative;

    }

    .team_overlay .meet-img .img {
        width: 100%;
        height: 100%;

    }

    .team_overlay .meet-img .img img {
        border-radius: 30px;
        width: 100%;
        height: 100%;
    }

    .team_overlay .meet-img .overlay {
        position: absolute;

        left: 0;
        bottom: 0;
        padding: 15px 10px;
    }

    .team_overlay .meet-img .overlay h3 {
        color: rgba(255, 255, 255, 1);

        font-size: 48px;
        font-weight: 800;
        line-height: 120%
    }

    .team_overlay .meet-img .overlay p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 24px;
        line-height: 120%
    }

    /* //meet end */

    /* footer section start */
/* 
#footer{
    margin-top: 88px;
       background: rgba(255, 255, 255, 0.1);
       
   }
   #footer .row{
    display: flex;
    flex-direction: column;
       justify-content: flex-start;
       align-items: flex-start;
      padding: 90px 50px
       
   }
   #footer .fitness{
       width: 80%;
      
   }
   #footer .fitness h3{
       color: rgb(230, 83, 60);
       font-size: 200px;
       font-weight: 800;
       line-height: 120%;
   }
   #footer .fitness p{
       color: rgba(255, 255, 255, 0.5);
   font-size: 48px;
   font-weight: 400;
   line-height: 72px;
   letter-spacing: 0.3px;
   text-align: left;
   margin-top: 20px;
   }
   #footer .service{
       width: 80%;
   }
   #footer .service h4{
       color: rgb(255, 255, 255);
       font-size: 110px;
       font-weight: 700;
       line-height: 120%;
       letter-spacing: 0%;
       text-align: left;
       margin-top: 30px;
       margin-bottom: 30px;

   }
   #footer .service ul{
       list-style-type: none;
   }
   
   #footer .service ul li{
   margin-top: 15px;
   }
   #footer .service ul li a{
       text-decoration: none;
       color: rgba(255, 255, 255, 0.5);
   font-family: Inter;
   font-size: 70px;
   font-weight: 400;
   line-height: 120%;
   letter-spacing: 0%;
   text-align: left;
   
   }
   #footer .platform{
       width: 80%;
   }
   #footer .platform h4{
       color: rgb(255, 255, 255);
       font-size: 110px;
       font-weight: 700;
       line-height: 120%;
       letter-spacing: 0%;
       text-align: left;
       margin-top: 30px;
       margin-bottom: 30px;
   }
   #footer .platform ul{
       list-style-type: none;
   }
   
   #footer .platform ul li{
   margin-top: 15px;
   }
   #footer .platform ul li a{
       text-decoration: none;
       color: rgba(255, 255, 255, 0.5);
   font-family: Inter;
   font-size: 70px;
   font-weight: 400;
   line-height: 120%;
   letter-spacing: 0%;
   text-align: left;
   
   
   }
   hr{
       width: 1130px;
       margin: 0 auto;
   }
   .fend{
       text-align: center;
       color: rgba(255, 255, 255, 0.5);
   
   font-size: 62px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0.3px;
   padding: 50px;
   } */
   /* //footer end */


   /* footer section start */


   /* bmi calc start */
   .bmi_calc_content{
    width: 1200px;
    margin: 50px 50px;
   
   }
.bmi_calc_content .info h2{
    width: 90%;
    color: rgb(255, 255, 255);

    font-size: 102px;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
    

}
.bmi_calc_content .info p{
    width: 90%;
    color: rgba(255, 255, 255, 0.5);

    font-size: 46px;
    font-weight: 400;
    line-height:62px;
    letter-spacing: 0.3px;
    text-align: left;
}
#bmi_calc {
    width: 1200px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
}

#bmi_calc .row {

   display: grid;
   grid-template-columns: repeat(1, 1fr);
}

#bmi_calc .row .bmi_table_chart {
width:80%;
}
#bmi_calc .row .bmi_table_chart h2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 64px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
}

#bmi_calc .row .bmi_table_chart table,tr,td,th{
    width: 100%;
    border: 1px solid white;
    border-collapse: collapse;
    color: aliceblue;
    margin-top: 30px;
}

#bmi_calc .row .bmi_table_chart table,tr,td,th{
    font-size: 48px;
    text-align: center;
 }
#bmi_calc .row .bmi_table_chart table,tr,td{
    font-size: 45px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
 }
 





#bmi_calc .row .bmi_calculate {
    width: 1200px;
    margin-top: 42px;
}

#bmi_calc .row .bmi_calculate .info h2 {
    width: 90%;
    color: rgb(255, 255, 255);

    font-size: 64px;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
   
}

#bmi_calc .row .bmi_calculate .info p {
    width: 90%;
    color: rgba(255, 255, 255, 0.5);

    font-size: 46px;
    font-weight: 400;
    line-height:62px;
    letter-spacing: 0.3px;
    text-align: left;
}


#bmi_calc .row .bmi_calculate .form {
    width: 100%;
    margin-top: 34px;
    
}

#bmi_calc .row .bmi_calculate .form .input {

    width: 550px;
    height: 84px; 
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    border: none;
    padding:25px 20px;
    margin: 5px;
    font-size: 30px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;

}

.select {
    width: 1118px;
    height: 84px; 
    border-radius: 16px;
    padding:25px 20px;
    margin: 5px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 30px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}
#bmi_calc .row .bmi_calculate  .btn-box{
    
    color: rgb(255, 255, 255);

    font-size: 48px;
    font-weight: 600;
    line-height: 22px;
    padding: 32px 60px;
    border-radius: 45px;
    background: rgb(230, 83, 60);
    border: none;

    margin-bottom: 25px ;
}

/* //bmi calc end */






#footer{
    margin-top: 88px;
    width: 1180px;
    background: rgba(255, 255, 255, 0.1);
    
       
   }
   
   #footer .row{
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       align-items: center;
      padding: 45px 36px;
       
   }
   #footer .fitness{
    width: 80%;
   
}
#footer .fitness h3{
    color: rgb(230, 83, 60);
    font-size: 200px;
    font-weight: 800;
    line-height: 120%;
}
#footer .fitness p{
    color: rgba(255, 255, 255, 0.5);
font-size: 48px;
font-weight: 400;
line-height: 72px;
letter-spacing: 0.3px;
text-align: left;
margin-top: 20px;
}
#footer .service{
    width: 80%;
}
#footer .service h4{
    color: rgb(255, 255, 255);
    font-size: 110px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;

}
#footer .service ul{
    list-style-type: none;
}

#footer .service ul li{
margin-top: 15px;
}
#footer .service ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 70px;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;
text-align: left;

}
#footer .platform{
    width: 80%;
}
#footer .platform h4{
    color: rgb(255, 255, 255);
    font-size: 110px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}
#footer .platform ul{
    list-style-type: none;
}

#footer .platform ul li{
margin-top: 15px;
}
#footer .platform ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 70px;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;
text-align: left;


}
hr{
    width: 1130px;
    margin: 0 auto;
}
.fend{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);

font-size: 62px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
padding: 50px;
}
   
   
   /* footer section end */
   
}